.button {
  font-size: 1.48rem;
  color: #FFFFFF;

  background-color: #2B2D33;
  border-radius: 8px;

  transition: background-color 0.4s;
}

.button:hover {
  background-color: #000000;
}

@media (max-width: 768px) {
  .button  {
    font-size: 1.3rem;
  }
}

@media (max-width: 540px) {
  .button  {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .button  {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .button  {
    font-size: 0.8rem;
  }
}